.App {
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(211, 211, 211);
}

.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(22, 19, 24);
  color: white;
  font-size: 24px;
 
  
}
.projects{
  height: 150vh;
  
  
}
.contact{
  height: 100vh;
  background-color: lightblue;
}

.icon-container{
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
  
}
.fab {
  font-size: 30px;
  margin: 2rem;
  border-radius: 50%;
  border: 1px solid white;
  padding: 15px;
  
  
 
  
}
.far {
  font-size: 30px;
  margin: 2rem;
  border-radius: 50%;
  border: 1px solid white;
  padding: 15px;

}

.nav-container{
  
  height: 10vh;
  background-color: rgb(51, 40, 58);
  color: white;
  position: sticky;
  top: 0;
  
  
}
.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  list-style: none;
  height: 100%;
  font-size: 20px;
}

a:hover {
  cursor: pointer;
}
.fab:hover{
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 0.5s;
}
.far:hover{
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 0.5s;
}
a{
  color: white;
}

.project-container{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:  0 auto;
  height: 80vh;
  width: 80vw;
  flex-wrap: wrap;
  margin-top:10vh;
  
  
 
}
.project1{
  height: 35rem;
  width: 30rem;
  border: 2px solid black;
  border-radius: 15px;
  background-size: cover;
  margin-bottom: 5rem;
  box-shadow: 0 8px 20px 0px black;
  
}
.project2{
  height: 35rem;
  width: 30rem;
  border: 2px solid black;
  border-radius: 15px;
  background-size: cover;
  margin-bottom: 5rem;
  box-shadow: 0 8px 20px 0px black;
}
.project3{
  height: 35rem;
  width: 30rem;
  border: 2px solid black;
  border-radius: 15px;
  background-size: cover;
  margin-bottom: 5rem;
  box-shadow: 0 8px 20px 0px black;
}
.project4{
  height: 35rem;
  width: 30rem;
  border: 2px solid black;
  border-radius: 15px;
  background-size: cover;
  margin-bottom: 5rem;
  box-shadow: 0 8px 20px 0px black;
}

.project1:hover{
  height: 37rem;
  width: 32rem;
transition: .5s;
}
.project2:hover{
  height: 37rem;
  width: 32rem;
  transition: .5s;
  }
.project3:hover{
  height: 37rem;
  width: 32rem;
  transition: .5s;
    }
.project4:hover{
  height: 37rem;
  width: 32rem;
  transition: .5s;
      }