.App {
  text-align: center;
 
}
*{
  padding: 0;
  margin: 0;
  font-family: coruier;
}
 h3{
  font-style: italic;
}
body{
  background-color: rgb(255, 255, 255);
}

.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(189, 189, 189);
  color: rgb(0, 0, 0);
  font-size: 24px;
 
  
}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100vh;
  background-color: rgb(243, 242, 242);
  border: 6px solid white;
  

}



.icon-container{
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
  
  
}
.icon-container .fab {
  font-size: 30px;
  margin: 2rem;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  padding: 15px;
  color: black;
  
}


.icon-container .far {
  font-size: 30px;
  margin: 2rem;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  padding: 15px;
  color: black;
}

.nav-container{
  
  margin: 0 auto;
  height: 10vh;
  background-color: rgb(19, 13, 56);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  
  
}
.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  height: 100%;
  font-size: 20px;
 
}

a:hover {
  cursor: pointer;
}
.fab:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.far:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.icon-container a{
  color: white;
}
.title{
  color: black;
}

@media (max-width: 400px){
  .icon-container .fab{
    margin: .8rem;
    font-size: 3vh;
    padding: 8px;
  }
}
@media (max-width: 400px){
  .icon-container .far{
    margin: .8rem;
    font-size: 3vh;
    padding: 8px;
  }
}