.projects{
    height: 120vh;
    background-color: rgb(243, 242, 242);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    border: 6px solid white;
    
  }

 
  .projects h1{
      margin-bottom: 20px;
      color: rgb(0, 0, 0);
      font-size: 5vw;
      margin-top: 100px;
      
      
  }
  .container-p{
    background-color: rgb(189, 189, 189);
    

  }

.project1 a{
    display: flex;
    visibility: hidden;
    color: black;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
     
  }
  .project-container{ 
    /* display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    align-items: center;
    margin:  0 auto; */
    height: 50vh;
    width: 70vw;
    flex-wrap: wrap;
    border-radius: 50px;
    
   
  }
  .project1{
    display: flex;
    height: 45vh;
    width: auto;
    border: 2px solid black;
    border-radius: 15px;
    background-size: cover;
    background-position-x: center;
    margin: 5px;
    box-shadow: 0 8px 20px 0px rgb(88, 88, 88);
    padding: 5px;
    min-height: 10vh;
    
    
    
  }
  .project2{
    display: flex;
    height: 45vh;
    width: auto;
    border: 2px solid black;
    border-radius: 15px;
    background-size: cover;
    margin: 5px;
    box-shadow: 0 8px 20px 0px black;
    padding: 5px;
    min-height: 20vh;
  }
  .project3{
    display: flex;
    height: 45vh;
    width: auto;
    border: 2px solid black;
    border-radius: 15px;
    background-position-x: center;
    background-position-y: center;
    margin: 5px;
    box-shadow: 0 8px 20px 0px black;
    padding: 5px;
    min-height: 20vh;
  }
  .project4{
    display: flex;
    height: 45vh;
    width: auto;
    border: 2px solid black;
    border-radius: 15px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    margin: 5px;
    box-shadow: 0 8px 20px 0px black;
    padding: 5px;
    min-height: 10vh;
  }
  
  .project1:hover{
    height: 48vh;
    width: auto;
    transition: .5s;
    opacity: .6;
  }

  .project2:hover{
    height: 48vh;
    width: auto;
    transition: .5s;
    opacity: .6;
    }

  .project3:hover{
    height: 48vh;
    width: auto;
    transition: .5s;
    opacity: .6;
    }

  .project4:hover{
    height: 48vh;
    width: auto;
    transition: .5s;
    opacity: .6;
   }

   .project1 .fab{
    font-size: 1.5vw;
    padding: 10px;
    color: black;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 30vh;
    
   }
   button{
    font-size: 2vh;
    padding: 8px;
    color: black;
    border-radius: 15px;
    border: 1px solid black;
    background: none;
    margin-top: 30vh;
   }
   button:hover{
       background: black; 
       color: white;
       animation: .5s;
   }

   .project1:hover a{
  visibility: visible;

   }
   .project1 .fab:hover{
    background-color: black;
    color: white;
  }

  .project2 a{
    display: flex;
    visibility: hidden;
    color: black;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
     
  }

.project2:hover a{
    visibility: visible;
  
 }
.project2 .fab:hover{
    background-color: black;
    color: white;
}
.project2 .fab{
    font-size: 30px;
    padding: 10px;
    color: black;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 30vh;
        
}


.project3 a{
    display: flex;
    visibility: hidden;
    color: black;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
     
  }

.project3:hover a{
    visibility: visible;
  
 }
.project3 .fab:hover{
    background-color: black;
    color: white;
}
.project3 .fab{
    font-size: 30px;
    padding: 10px;
    color: black;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 30vh;
    
        
}


.project4 a{
    display: flex;
    visibility: hidden;
    color: black;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
     
  }

.project4:hover a{
    visibility: visible;
  
 }
.project4 .fab:hover{
    background-color: black;
    color: white;
}
.project4 .fab{
    font-size: 30px;
    padding: 10px;
    color: black;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 30vh;
        
}
@media (max-width:768px){
  .project1{
    height: 20vh;
  }}

  @media (max-width:768px){
    .project2{
      height: 20vh;
    }
  }
  @media (max-width:768px){
    .project3{
      height: 20vh;
    }
  }
  @media (max-width:768px){
    .project4{
      height: 20vh;
    }
  }
  
